<h1>Create a new flashcard:</h1>

<form action="/flashcards" method="post">
	<p>Question: <input type="text" name="question"></input></p>
	<p>Answer: <input type="text" name="answer"></input></p>
	<p>Which stack does this belong to?</p>
	<select name="stack_id">
		<% current_user.stacks.each do |stack| %>
			<option value=<%=stack.id%>><%= stack.title %></option> 
		<% end %>
	</select>
	<br><br>
	<input type="submit" value="Submit"></input>
</form>

<h2>What would you like to do next?</h2>
<h4><a href="/stacks">See my Stacks</a></h4>
<h4><a href="/stacks/new">Create a new Stack</a></h4>
<h4><a href="/flashcards/new">Create a new Flashcard</a></h4>
<h4><a href="/logout">Log Out</a></h4>