<h1>Create a new stack:</h1>

<form action="/stacks" method="post">
	<p>Title: <input type="text" name="title"></input></p>
	<br><br>
	<input type="submit" value="Submit"></input>
</form>

<br><br><br><br>
<h2>What would you like to do next?</h2>
<h4><a href="/stacks">See my Stacks</a></h4>
<h4><a href="/stacks/new">Create a new Stack</a></h4>
<h4><a href="/flashcards/new">Create a new Flashcard</a></h4>
<h4><a href="/logout">Log Out</a></h4>